<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test3">
		<classes>
			<class name="com.test.google.GoogleTest2" />
		</classes>
	</test> 
  <test thread-count="5" name="Rest Assured GET Api">
    <classes>
      <class name="com.test.restassuredapi.RestAssuredGETApi"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="Rest Assured POST Api">
    <classes>
      <class name="com.test.restassuredapi.RestAssuredPOSTApi"/>
    </classes>
  </test> <!-- Test -->
      <test thread-count="5" name="Rest Assured PUT Api">
    <classes>
      <class name="com.test.restassuredapi.RestAssuredPUTApi"/>
    </classes>
  </test> <!-- Test -->
  

</suite> 
